## Capstone project for Basic Data Science
In this project, you would explore the Data preprocessing techniques learned. You will use, pandas, plots and the different data preprocessing techniques to explore and analyse the data. This project is on Exploratory Data Analysis

Step1: Import the necessary libraries

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [5]:
#List the set of available datasets in seaborn
print(len(sns.get_dataset_names()))
print(sns.get_dataset_names())

88
['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic', 'anagrams', 'anagrams', 'anscombe', 'anscombe', 'attention', 'attention', 'brain_networks', 'brain_networks', 'car_crashes', 'car_crashes', 'diamonds', 'diamonds', 'dots', 'dots', 'dowjones', 'dowjones', 'exercise', 'exercise', 'flights', 'flights', 'fmri', 'fmri', 'geyser', 'geyser', 'glue', 'glue', 'healthexp', 'healthexp', 'iris', 'iris', 'mpg', 'mpg', 'penguins', 'penguins', 'planets', 'planets', 'seaice', 'seaice', 'taxis', 'taxis', 'tips', 'tips', 'titanic', 'titanic', 'anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

Dataset 1: exercise

In [14]:
#1.Write the syntax for choosing the specific dataset
df = sns.load_dataset("penguins")
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [ ]:
#2.Display the top 5 records of penguin dataset
#3.Display the dimensionality of the dataset

In [ ]:
#4.Display the datatypes of the attributes

In [ ]:
#5.Describe the dataset extensively

In [ ]:
#6.Display the number of null values in the dataset and the total count of it

In [ ]:
#7.Identify the columns having null values and remove them

In [ ]:
# 8.check the size of dataset after cleaning and compare with the size before cleaning

In [ ]:
#9.Find out the count of male and female penguins

In [ ]:
#10.Find out the count of species

In [ ]:
#11. Use a countplot graph to display the number of male and female penguins
#Give the plot a title "Count of male and female penguins"
#Give a xlabel and ylabel

In [ ]:
#12. For all the penguins display the bill_length_mm and bill_depth_mm using pairplot

In [ ]:
#13.Create a visualization to display the flipper_length_mm and body_mass_g for the penguin dataset.

In [ ]:
#14. Create a histogram with the flipper_length_mm and bins = 10

In [ ]:
#15. Create a joint point with body_length_mm, body_depth_mm for penguins_cleaned dataset

In [ ]:
#16. Use a pairwise plot to display all the numerical values of the dataset penguins_cleaned

In [ ]:
#17.Check if there exists any outliers based on the boxplot based on numerical values  of penguins_cleaned dataset

In [ ]:
#18. Create a violin plot to display the body_mass_g of different species based on sex