# Operators

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

# Operator Types

1. Arithmetic operators
    
2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Assignment operators

5. Special operators

# Arithmetic Operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

    + , -, *, /, %, //, **  are arithmetic operators

Example:

In [ ]:
#x=21
#y=4

x, y = 21, 4
#addition
print(x + y)
#subtraction(-)
print(x - y)
#multiplication(*)
print(x * y)
#division(/)
print(x / y)

25
17
84
5.25

In [ ]:
#modulo division (%)
print(x % y)
#Floor Division (//)
print(x // y)
#Exponent (**)
print(x ** y)

1
5
194481

#Operator precedence
Operator precedence in Python determines the order in which operations are performed in an expression. Operators with higher precedence are evaluated before operators with lower precedence.

1. Parentheses ()

2. Exponentiation **

3. Multiplication, Division, Floor Division, Modulus *, /, //, %

4. Addition, Subtraction +, -

In [ ]:
result = 2 + 3 * 4  # Output: 14 (Multiplication before addition)
result

14

In [ ]:
result = (2 + 3) * 4  # Output: 20 (Parentheses alter precedence)
result

20

In [ ]:
#guess the output
x=(8+2)/5
x

In [ ]:
#guess the output
x=8+2/5
x

In [ ]:
#when you have operators with same predence then the expression is evaluated from left to right
x=4/2*5
x

10.0

In [ ]:
#ASSIGNMENT OPERATOR
a=10
print(a)

10
11

In [ ]:
a=a+1
print(a)

In [ ]:
a+=1   #equvalent of a=a+1
print(a)

12

In [ ]:
#guess the output
b=5
b+=2
print(b)

14

In [ ]:
#guess the output
c=5
c*=4
print(c)

In [ ]:
#guess the output
d=10
d/=2
print(d)

# Relational (Comparision) Operators

Comparison operators are used to compare values. It either returns True or False according to the condition.

>, <, ==, !=, >=, <= are comparision operators

comparision operators have lower precedence compared to arithmetic operators

In [ ]:
#intialization of multiple variables in a single line
a, b = 10, 20

#check a is less than b
a < b   #10<20

True

In [ ]:
#check a is greater than b
a > b   #10>20

False

In [ ]:
#check a is equal to b
a == b

In [ ]:
#check a is not equal to b (!=)
a!=b

In [ ]:
#check a greater than or equal to b
a>=b

In [ ]:
#check a less than or equal to b
a<=b

In [ ]:
# check if a is less than 111
a<111

In [ ]:
a<6

In [ ]:
#comparision operators have lower precedence compared to arithmetic operators
a=2
b=4
a+b<100

In [ ]:
a*3>=b+10

In [ ]:
name='nilay'

In [ ]:
name=='nilay'

In [ ]:
city='cape town'

In [ ]:
#guess the output
city=='nairobi'

In [ ]:
city='cape town'

In [ ]:
#guess the output
city!='nairobi'

In [ ]:
password='admin123'

In [ ]:
#guess the output
password=='admin123'

In [ ]:
#create atlest 5 statments involving relational operators

#Logical operators
Logical operators are  **and, or, not** operators. They are used to combine two or more Python expression

#and Operator Combinations

and operator returns True of both values are True, otherwise False

True and True = True

True and False = False

False and True = False

False and False = False

In [ ]:
a, b = 10,20
#and operator - Returns True if both statements are true
a==10 and b==20
#T and T => T

True

In [ ]:
a!=10 and b==20

In [ ]:
a>5 and b<20

In [ ]:
username='nilayk'
password='admin123'

In [ ]:
username=='nilayk' and password=='admin123'

#or operator

Returns True if one of the statements is true, otherwise false

or Operator Combinations

True or True = True

True or False = True

False or True = True

False or False = False

In [ ]:
a=5
b=10
a==5 or b==20

False

In [ ]:
a==5 and b==20

True

In [ ]:
#Task - repeat all above and operations by replacing with or operator and analyze their results

In [ ]:
# not operator - Reverse the result, returns False if the result is true and vice versa
a==10

True

In [ ]:
not a==10

False

In [ ]:
not False

In [ ]:
x==10 and y==20
# T   and   T

In [ ]:
x+20>=y+10 or 30+y<50
#30>=30       50<50
#   T      or F

In [ ]:
#create atlest 5 statments involving relational & logical operators

# Assignment operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

    =,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators

In [ ]:
#multiple variable init.
x,y,z=2,4,6
x,y,z

In [ ]:
"""


"""

# Special Operators

# MemberShip Operators

**in and not in** are the membership operators in Python.
    
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and   dictionary).

In [ ]:
lst = [1, 2, 3, 4]
print(11 in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

False

In [ ]:
lst = [1, 2, 3, 4]
print(1 in lst)

True

In [ ]:
lst = [1, 2, 3, 4]
print(101 not in lst)

True

In [ ]:
d = {1: "a", 2: "b"}
print(1 in d)
print("a" in d)

True
False