#Lists in Python
A list is a versatile data structure in Python that allows you to store an ordered collection of items. Lists can contain items of different types, such as integers, strings, or even other lists. Lists are mutable, meaning you can change their content without changing their identity.

Basic List Operations
Creating a List: You can create a list by placing comma-separated values inside square brackets.

Accessing Elements: You can access elements of a list by indexing.

Modifying Elements: You can modify elements of a list by assigning new values to indices.

Adding Elements: You can add elements to a list using methods like append(), extend(), or insert().

Removing Elements: You can remove elements from a list using methods like remove(), pop(), or clear().

Slicing a List: You can extract parts of a list using slicing.

Iterating through a List: You can use loops to iterate through the elements of a list.

#Examples of list and why we need list

In [ ]:
# List of student ages
student_ages = [18, 20, 19, 22, 21, 23, 20]
print(student_ages)

[18, 20, 19, 22, 21, 23, 20]

In [ ]:
even_no=list([2,4,6,8,10])
print(even_no)

[2, 4, 6, 8, 10]

In [ ]:
# List of account balances in dollars
account_balances = [1500.75, 2300.50, 1890.00, 750.25, 1200.60, 2100.80]
print(account_balances)

[1500.75, 2300.5, 1890.0, 750.25, 1200.6, 2100.8]

In [ ]:
# List of country names
country_names = ["South Africa", "Canada", "India", "Australia", "Germany", "Brazil"]
print(country_names)

['United States', 'Canada', 'India', 'Australia', 'Germany', 'Brazil']

In [ ]:
bank_account_details=["nilay",40,1878.6]
bank_account_details

['nilay', 40, 1878.6]

##Accessing list elements /values using indexing

In [ ]:
print(student_ages[0])  # Output: 18
print(student_ages[2])  # Output: 22

18
19

In [ ]:
print(account_balances[1])  # Output: 2000.50
print(account_balances[3])  # Output: 2100.25

2300.5
750.25

In [ ]:
print(country_names[0])  # Output: "USA"
print(country_names[4])  # Output: "Germany"

#Modifying Elements

In [ ]:
student_ages[0] = 19
print(student_ages)  # Output: [19, 20, 22, 19, 21]

[19, 20, 19, 22, 21, 23, 20]

In [ ]:
#Task - modify values for account_balances and country_ages

#Adding Elements

In [ ]:
student_ages.append(23)
print(student_ages)  # Output: [19, 20, 22, 19, 21, 23]

[19, 20, 19, 22, 21, 23, 20, 23]

In [ ]:
#Task - add a value for account_balances and country_ages

#Removing Elements

In [ ]:
student_ages.remove(19)
print(student_ages)  # Output: [20, 22, 19, 21, 23]

[20, 19, 22, 21, 23, 20, 23]

#Slicing a List

In [ ]:
print(student_ages[1:4])  # Output: [20, 22, 19]

[19, 22, 21]

In [ ]:
print(account_balances[:3])  # Output: [1500.75, 1800.00, 2100.25]

[1500.75, 2300.5, 1890.0]

In [ ]:
print(country_names[2:])  # Output: ["Mexico", "Spain", "Germany"]

['India', 'Australia', 'Germany', 'Brazil']

In [ ]:
len(student_ages)

7

In [ ]:
student_ages.sort()
student_ages

[19, 20, 20, 21, 22, 23, 23]

In [ ]:
student_ages.sort(reverse=True)
student_ages

[23, 23, 22, 21, 20, 20, 19]

In [ ]:
#nested list
#joiing two list