#Tuples in Python
A tuple is a collection of ordered, immutable elements. Once a tuple is created, you cannot change its values, making it useful for storing data that should not be modified. Tuples are defined using parentheses () and can contain elements of different data types.

Key Characteristics of Tuples:
Ordered: The elements have a defined order, and that order will not change.

Immutable: Elements cannot be changed after the tuple is created.

Allow Duplicates: Tuples can have multiple elements with the same value.

Memory Efficiency: Tuples are more memory efficient than lists.

Performance: Accessing elements in a tuple is generally faster than in a list due to its immutability.

In [ ]:
# A tuple with integer values
student_ages = (18, 20, 22, 19, 21)
print(student_ages)

(18, 20, 22, 19, 21)

In [ ]:
# A tuple with mixed data types
student_info = ("John Doe", 21, 3.8)
print(student_info)

('John Doe', 21, 3.8)

In [ ]:
print(student_ages[0])  # Output: 18
print(student_info[1])  # Output: 21

In [ ]:
print(student_ages[1:3])

(20, 22)

In [ ]:
print(len(student_ages))  # Output: 5

5

In [ ]:
student_ages.count(20)

1

In [ ]:
student_ages.index(21)

4